.menu-card {
  padding: 0px;
}

.menu-toolbar {
  background-color: white;
  height: 80px;
}

.example-spacer {
  flex: 1 1 auto;
}
img {
  height: 500px;
}
.mat-card-header {
  text-align: start;
}
.mat-card-title {
  font-size: 15px;
}

.mat-grid-list {
  max-width: 1500px;
  margin: auto;
}
.menu-card {
  max-width: 1350px;
}
